.container {
  height: calc(var(--gap) * 4);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: var(--primary-color);
  display: flex;
  gap: calc(var(--gap) / 2);
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tab:hover, .active-link {
  color: var(--accent-color);
}

a {
  all: unset;
  text-decoration: none;
}

.tab i {
  font-size: 35px;
}
