.container {
  height: var(--hdr-ht);
  padding: calc(var(--gap) / 3);
  color: #fff;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  gap: var(--gap);

  .logo {
    cursor: pointer;

    img {
      width: calc(var(--gap) * 3);
    }
  }

  .page-title strong {
    font-size: large;
  }
}
