.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--hdr-ht);
  padding: calc(var(--gap) / 3);
  color: #fff;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  z-index: 100;

  .logo {
    cursor: pointer;

    img {
      width: calc(var(--gap) * 3);
    }
  }

  .page-title strong {
    font-size: large;
  }
}
