<div class="container">
  <div class="tittle">
    <h1>Confirm Your Location</h1>
    <div>So we can deliver your orders</div>
  </div>

  <app-map *ngIf="user?.address || geoPosition"
    [center]="user.address ?? geoPosition" 
    [showInputSearchLocation]="false" 
    (positionChanged)="changePosition($event)">
  </app-map>

  <div *ngIf="user?.address">
    The map shows your old location. You can either confirm it or press "Detect Location" button.
  </div>

  <div class="btns">
    <button *ngIf="user?.address || geoPosition" type="button" mat-raised-button color="primary" 
            (click)="confirmLocation()">
      Confirm Location
    </button>
    <button type="button" mat-raised-button color="primary" (click)="detectLocation()">
      Detect Location
    </button>
  </div>

</div>
