.container {
  height: calc(var(--main-ht) - var(--gap) * 2.7);
  padding: var(--gap);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .tittle {
    width: max-content;
    margin-inline: auto;

    h1 {
      margin: 0;
    }
  }

  app-map {
    flex: 1;
  }

  .btns {
    display: flex;
    gap: calc(var(--gap) / 2);

    button {
      flex: 1;
    }
  }
}
