.wrapper {
  position: relative;
  overflow-wrap: break-word;
  padding: calc(var(--gap) / 2);
  padding-right: calc(var(--gap) * 2);
  border-radius: 4px;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(var(--gap) / 3);
    font-weight: bold;
    cursor: pointer;
  }
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
