.wrapper {
  color: #fff;
  display: flex;
  border-radius: 4px;
}

.wrapper>div {
  padding: calc(var(--gap) / 2);
}

.msg {
  flex: 1;
  overflow-wrap: break-word;
}

.close-btn {
  padding: calc(var(--gap) / 3);
  font-weight: bold;
  cursor: pointer;
}

.error {
  background-color: var(--warn-color);
}

.success {
  background-color: var(--success-color);
}

.warning {
  background-color: var(--warn-color);
}

.info {
  background-color: var(--info-color);
}
