.container {
  padding: var(--gap);
  border-radius: var(--gap);
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  gap: var(--gap);

  &>div {
    flex: 1;
  }

  .meal-img {
    position: relative;

    &>img {
      width: 100%;
      height: 100%;
      border-radius: var(--gap);
    }

    .favorite {
      position: absolute;
      top: 0;
      left: 0;
      padding: calc(var(--gap) / 3);
      width: max-content;
      cursor: pointer;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        color: #333;
        opacity: .5;
      }

      .favorited {
        color: red;
        opacity: 1;
      }
    }
  }

  .meal-info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 3);

    h2 {
      margin: 0;
      padding: 0;
    }

    small {
      flex: 1;
      opacity: .9;
    }

    .content_bottom {
      display: flex;
      gap: calc(var(--gap) / 3);
      justify-content: space-between;
      align-items: center;
      height: 50px !important;

      button {
        min-width: max-content;
        padding: calc(var(--gap) / 2) var(--gap);
        border-radius: 100px;
        outline: none;
        cursor: pointer;
        border: none;
        color: var(--primary-color);
        background: var(--accent-color);
        box-shadow: 0 0 5px 0 rgb(67, 255, 146, .75);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--gap) / 3);

      }
    }
  }
}
