<div class="container box-shadow">

  <div class="meal-img">

    <span class="favorite box-shadow" (click)="onaddToFavorites()">
      <mat-icon [ngClass]="{'favorited': fav}">favorite</mat-icon>
    </span>

    <img [src]="meal.imgSrc" alt="Photo of {{meal.name}}" title="{{meal.name}}">

  </div>

  <div class="meal-info">

    <h3>{{ meal.name }}</h3>

    <!-- <small>{{ details }}</small> -->

    <div class="content_bottom">

      <span class="price">{{ meal.price | currency:' DA ' }}</span>

      <button type="button" (click)="onAddToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
        <!-- Add to cart -->
      </button>

    </div>

  </div>

</div>
