:root {
  --hdr: 35px;
  --footer: 60px;
  --main: calc(100vh - calc(var(--hdr) + var(--footer)));
  --gap: 15px;

  --primary-color: #643235;
  --accent-color: #f1faf9;
  --warn-color: #f44336;
  --info-color: #007DBA;
  --success-color: darkgreen;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ============== */
/* global classes */
/* ============== */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
