:root {
  --hdr-ht: 5.5vh;
  --bottom-ht: 10vh;
  --main-ht: calc(100vh - calc(var(--hdr-ht) + var(--bottom-ht)));
  --gap: 15px;

  --primary-color: #643235;
  --accent-color: #43ff92;
  --warn-color: #f44336;
  --info-color: #007DBA;
  --success-color: darkgreen;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ============== */
/* global classes */
/* ============== */

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 0 7px 0 rgba(102, 102, 102, 0.9);
}
